body {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  padding: 5px 0;
  list-style: none;
}

button {
  margin-left: 10px;
  background-color: rgb(122, 122, 122);
  border: none;
  color: aliceblue;
  border-radius: 10px;
}

span {
  padding: 5px 80px;
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
}

.marked {
  background-color: rgb(122, 171, 122);
}

h2 {
  color: rgb(122, 171, 122);
}
